

@media only screen and (max-width: 768px){

    .name_style{
        transform: rotate(0deg);
        font-size: 55px;
        text-align: center;
        padding: 0%;
        margin: 0%;
       
    }

}

/* both tab and mobile  */
@media only screen and (max-width: 991px){
 .testimonials .swiper-button-prev{
        left: 65% !important;
    }
}



   